<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_ConftSoft_.My.MySettings.BancoCSConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\banco_dados\BancoCS.mdb"
            providerName="System.Data.OleDb" />
        <add name="_ConftSoft_.My.MySettings.BancoCSConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\ProjetoInterDiciplinar\ConftSoft-VersãoMenosQuebrada\bin\Debug\banco_dados\BancoCS.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>